body {
    background-color: #FF99CC;
    font-family: "Comic Neue";
}

header h1 {
    display: inline-block;
}


.headerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

footer {
    text-align: right;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}